{% extends "basic.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col-8">
        <div class="container-fluid">
            {% for product in products %}
            <div class="row product">
                <div class="col">
                    <div class="card h-100 shadow">
                        <div class="row g-0">
                            <div class="col-md-2 p-2">
                                <img src="{{ product.object.image_path }}" class="card-img-top border" height=90
                                     style="object-fit: contain;">
                            </div>
                            <div class="col-md-10 p-2">
                                <div class="card-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-6 d-flex">
                                                <a class="align-self-center" href="/product/?product_id={{ product.object.id }}"
                                                   style="text-decoration: none; color: black;">
                                                    <h6 class="card-title text-left">{{ product.object.name }}</h6>
                                                </a>
                                            </div>
                                            <div class="col-3 d-flex">
                                                <font class="align-self-center" size="3">
                                                    <b>{{ product.object.price }} {{ product.object.currency }}</b>
                                                </font>
                                            </div>
                                            <div class="col-2 d-flex">
                                                <form name="productUnitsNumberChangingForm_{{ product.object.id }}"
                                                      class="align-self-center" method="POST">
                                                    {% csrf_token %}
                                                    {{ product.units_number_changing_form.product_id }}
                                                    {{ product.units_number_changing_form.product_units_number|as_crispy_field }}
                                                </form>
                                                <script>
                                                    function changeProductUnitsNumber(event) {
                                                        event.preventDefault();
                                                        let xmlHttpRequest = new XMLHttpRequest();
                                                        xmlHttpRequest.open('POST', '/cart/');
                                                        let formData = new FormData(event.target.form);
                                                        xmlHttpRequest.send(formData);
                                                        xmlHttpRequest.onload = function() {
                                                            if (xmlHttpRequest.status != 200) {
                                                                event.target.value = 1;
                                                            }
                                                        }
                                                    }
                                                    let product_units_number_{{ product.object.id }} =
                                                    document.forms.productUnitsNumberChangingForm_{{ product.object.id }}.product_units_number;
                                                    product_units_number_{{ product.object.id }}.addEventListener('change', changeProductUnitsNumber);
                                                </script>
                                            </div>
                                            <div class="col-1 d-flex">
                                                <form name="productMovingFromCartForm_{{ product.object.id }}"
                                                      class="align-self-center" method="POST">
                                                    {% csrf_token %}
                                                    {{ product.moving_from_cart_form.product_id }}
                                                    <button name="executionButton_{{ product.object.id }}" type="submit"
                                                            class="btn btn-outline-danger">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                             fill="currentColor" class="bi bi-cart-x" viewBox="0 0 16 16">
                                                            <path d="M7.354 5.646a.5.5 0 1 0-.708.708L7.793 7.5 6.646
                                                            8.646a.5.5 0 1 0 .708.708L8.5 8.207l1.146 1.147a.5.5 0 0 0
                                                            .708-.708L9.207 7.5l1.147-1.146a.5.5 0 0 0-.708-.708L8.5
                                                            6.793 7.354 5.646z"/>
                                                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498
                                                            7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0
                                                            1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0
                                                            0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102
                                                            4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7
                                                            0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                                        </svg>
                                                    </button>
                                                </form>
                                                <script>
                                                    function moveProductFromCart(event) {
                                                        event.preventDefault();
                                                        let xmlHttpRequest = new XMLHttpRequest();
                                                        xmlHttpRequest.open('POST', '/product/');
                                                        let formData = new FormData(event.target.form);
                                                        xmlHttpRequest.send(formData);
                                                        xmlHttpRequest.onload = function() {
                                                            if (xmlHttpRequest.status == 200) {
                                                                let product = event.target.form.closest('.product');
                                                                product.nextElementSibling.remove();
                                                                product.remove();
                                                            }
                                                        }
                                                    }
                                                    let executionButton_{{ product.object.id }} =
                                                    document.forms.productMovingFromCartForm_{{ product.object.id }}.executionButton_{{ product.object.id }};
                                                    executionButton_{{ product.object.id }}.addEventListener('click', moveProductFromCart);
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            {% endfor %}
        </div>
    </div>
    <div class="col-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <form name="orderMakingForm" method="POST">
                        {% csrf_token %}
                        <button name="executionButton" type="submit" class="btn btn-primary">Оформить заказ</button>
                    </form>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Количество видов товаров</th>
                            <td align="right">0</td>
                        </tr>
                        <tr>
                            <th>Количество единиц товаров</th>
                            <td align="right">0</td>
                        </tr>
                        <tr>
                            <th>Общая стоимость</th>
                            <td align="right">0</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
