{% extends "basic.html" %}
{% block content %}
<div class="row">
    <div class="col-12">
        <img class="img-fluid mx-auto d-block shadow"
             src="https://uca0207e84e45bde80c846f331da.previews.dropboxusercontent.com/p/thumb/ABUSiHbjvt3Icz0zf-ql2tyc-1k3Ug-n3Zvw3RQCin7LhUGx4P9YaWu-QgQ4Hb8NBchQJvAtpFUq9ztS4PS7C4B_yPfE4wdh5kjWFqtYTR6b80yHexcMzfuXsu-fKWtDJ0TIFMDQUD3SUbfaF92_Yxh9niAgUDuCn-jyG5TFzRC3jxXibdHXBAn578zjf7wEamtoevN8P2fjcsWLevIDtfpu2DrGnQpe56Y5pp3rZd-sPgrAT5hYHN4m6PN0QQVA6HKYGiiVGLCsIWaakLF1jCTJC41C89i3lxpIKO3XUdxKf9RAqqNU75GPv_cEM8h4nNdrlkqmrogVpinwj_06nkOpSDEPj4wb9piBxHtTSeJs0EWZ3tbkcIQwAW3RwUJIP8c/p.png">
    </div>
</div>
{% endblock content %}
