{% extends "basic.html" %}
{% block content %}
<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for product in products %}
    <div class="col">
        <div class="card h-100 shadow">
            <div class="row g-0">
                <div class="col-md-6 p-2">
                    <img src={{ product.image_path }} class="card-img-top border border-1 border-dark" height=150
                         style="object-fit: contain;">
                </div>
                <div class="col-md-6 p-2">
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row mb-1">
                                <a class="align-self-left" href="/product/?product_id={{ product.id }}"
                                   style="text-decoration: none; color: black;">
                                    <h6 class="card-title text-left">{{ product.name }}</h6>
                                </a>
                            </div>
                            <div class="row mb-1">
                                <h5 class="align-self-left">
                                    <span class="badge bg-danger">{{ product.price }} {{ product.currency }}</span>
                                </h5>
                            </div>
                            <div class="row">
                                {% for _ in 123|make_list %}
                                <div class="col-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold"
                                         class="bi bi-star-fill" viewBox="0 0 16 16">
                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173
                                        6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927
                                        0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83
                                        4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                    </svg>
                                </div>
                                {% endfor %}
                                {% for _ in 45|make_list %}
                                <div class="col-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="silver"
                                         class="bi bi-star-fill" viewBox="0 0 16 16">
                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173
                                        6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927
                                        0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83
                                        4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                    </svg>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
