{% extends "basic.html" %}
{% block content %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 row-cols-xxl-4 g-4">
    {% for product in products %}
    <div class="col">
        <div class="card h-100 shadow">
            <div class="row g-0">
                <div class="col-md-6 p-2">
                    <img src={{ product.image_path }} class="card-img-top border border-1 border-dark" height=150
                         style="object-fit: contain;">
                </div>
                <div class="col-md-6 p-2">
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row mb-1">
                                <a class="align-self-left" href="/product/?product_id={{ product.id }}"
                                   style="text-decoration: none; color: black;">
                                    <h6 class="card-title text-left">{{ product.name }}</h6>
                                </a>
                            </div>
                            <div class="row mb-1">
                                <h5 class="align-self-left">
                                    <span class="badge bg-danger">{{ product.price }} {{ product.currency }}</span>
                                </h5>
                            </div>
                            <div class="row">
                                {% include "included/product_rating.html" with size=16 rating=product.rating %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
