{% extends "basic.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    {{ user_registration_form.username|as_crispy_field }}
                </div>
                <div class="mb-3">
                    {{ user_registration_form.first_name|as_crispy_field }}
                </div>
                <div class="mb-3">
                    {{ user_registration_form.last_name|as_crispy_field }}
                </div>
                <div class="mb-3">
                    {{ user_registration_form.email|as_crispy_field }}
                </div>
                <div class="mb-3">
                    {{ user_registration_form.password1|as_crispy_field }}
                </div>
                <div class="mb-3">
                    {{ user_registration_form.password2|as_crispy_field }}
                </div>
                <button type="submit" class="btn btn-primary">Регистрация</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
